<%- include('header')%>
<h2>
  Nova Vaga:
  <a href="/admin/vagas">Vagas</a>
</h2>
<div>
  <form method="POST">
    <label>Nova Categoria</label>
    <input type="text" name="categoria" />
    <br />
    <button>Salvar Vaga</button>
  </form>
</div>
<%- include('footer') %>
